.mobile-menu__button {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
}

.mobile-menu__button img {
    vertical-align: middle;
}

.mobile-menu__link {
   height: 51px;
}

.mobile-menu__link img {
    /* ??? */
}

.mobile-menu__list {
    list-style: none;
    margin: 0;
    padding-top: 4px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mobile-menu__list li {
    font-weight: 500;
}

.mobile-menu__list li a {
    text-decoration: none;
    color: black;
}

.mobile-menu__list li a:hover {
    color: #7E7E82;
    transition: 0.5s;
}

.mobile-menu__mail button {
    padding: 0;
    border: none;
    background-color: white;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.mobile-menu__phonenumber button {
    border: none;
    background-color: white;
    padding: 0;
    font-size: 24px;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
}

.mobile-menu__language button {
    border: none;
    background-color: white;
    padding: 0;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer
}